body {
    background: #FAFAFA;
}

.marketplace {
    display: flex;
}

.course {
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.26);
    margin: 0 .5rem 1rem;
    width: 18.75rem;
}

.course .course-header {
    display: flex;
    padding: 1rem;
}

.course .course-header img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.course .course-header h2 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.course .course-content img {
    height: 9.375rem;
    width: 100%;
}

.course .course-content section {
    padding: 1rem;
}

.course .course-content h3 {
    padding-bottom: .5rem;
    font-size: 1.5rem;
    color: #333;
}

.course .course-content h3, 
.course .course-content h4 {
    padding: 0;
    margin: 0;
}

.course .course-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.course .course-footer button {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: 0;
}

.course .course-footer input {
    width: 4rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.course.course-figure .course-header,
.course.course-figure .course-footer button {
    background: #43A047;
    color: #ffffff;
}

.course.course-css .course-header,
.course.course-css .course-footer button {
    background: #FDD835;
}