<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example components</title>

    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <marketplace>
            <component 
                v-for="course in courses"
                :is="course.type" 
                :key="course.id"
                :title="course.title" 
                :subtitle="course.subtitle" 
                :description="course.description"
                @add="addToCart">
            </component>
        </marketplace>

        <ul class="cart">
            <li v-for="course in cart">{{ course.title }} – {{ course.months }} meses</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>